.aboutUsImage{
    height:50vh;
    object-fit:scale-down;
}
.aboutUsHeader{
    color: black;
    font-size: x-large;
    background-color: rgba(0, 255, 106, 0.209);
}
.cardtext{
    background-color: rgba(255, 55, 0, 0.153);
    color: rgb(4, 13, 142);
}
.quote{
    font-size:medium;
}
