.pageTitle {
    margin-top: 5%;
  }

  form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .userInput {
    border: 2px solid black;
    width: 40%;
    border-radius: 5px;
    height: 20%;
    font-size: 100%;
  }

  .userIssue {
    margin-top: 20%;
  }
 
  .conactustitle{
    color: black;
  }
  .contactIcons{
    height: 80px;
    width: 80px;
    align-self: center;
  }